@charset "utf-8";
a {
    text-decoration: none;
    color: white;
}
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    height: 100%;
    margin: 0; /* body의 기본 마진 제거 */
    background: rgb(88,109,215);
    background: radial-gradient(circle, rgba(88,109,215,1) 0%, rgba(41,0,75,1) 100%);
}

#title {
    position: relative;
    padding: 16px 8px;
    color: white;
    width: 98%;
    text-align: center;
}

#title::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(right, #00b0ff 0%, #00e676 100%);
    background-image: linear-gradient(to left, #00b0ff 0%, #00e676 100%);
}

#leaderboard_wrapper::-webkit-scrollbar{
    width: 10px;
}
#leaderboard_wrapper::-webkit-scrollbar-thumb{
    background-color: #4c6be8;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
#leaderboard_wrapper::-webkit-scrollbar-track{
    background-color: rgb(69, 62, 113,0.3);
    border-radius: 10px;
}

#leaderboard_wrapper {
    width: auto;
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    padding: 0 20px;
    margin-top: 10px;
}

ul#leaderboard li {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    color: white;
}

#startbutton, #HTP, #back {
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border: none;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(90deg,
                        #00e676 0%,
                        #00b0ff 100%);
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 24px rgba(74, 205, 170, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

#startbutton:hover, #HTP:hover, #back:hover {
    transform: scale(1.2);
}

#HTPwin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
}

#winBody {
    position: relative;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 70%; /* 모달 창 최대 너비 */
    text-align: center;
}

#win_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#win_body {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

#close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;    
}

#close:hover {
    font-weight: bold;
}

#timer {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}