body {
    overflow: hidden;
    background: #E6E6FA;
    background: linear-gradient(to right, #9345b2, #725ff1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    width: 500px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 45px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(230, 255, 255);
}

.menu-toggler {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.menu-toggler:checked+label {
    background: transparent;
}

.menu-toggler:checked+label:before {
    transform: rotate(45deg) translateY(-30px) translateX(-30px);
}

.menu-toggler:checked+label:after {
    transform: rotate(-45deg);
}

.menu-toggler:checked~ul .menu-item {
    opacity: 1;
}

.menu-toggler:checked~ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-210px);
}

.menu-toggler:checked~ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-210px);
}

.menu-toggler:checked~ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-210px);
}

.menu-toggler:checked~ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-210px);
}

.menu-toggler:checked~ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-210px);
}

.menu-toggler:checked~ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-210px);
}

.menu-toggler:checked~ul .menu-item a {
    pointer-events: auto;
}

.menu-toggler+label {
    width: 100px;
    height: 10px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(230, 239, 250, 0.9);
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu-toggler+label:before,
.menu-toggler+label:after {
    width: 100px;
    height: 10px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
}

.menu-toggler+label:before {
    top: 20px;
}

.menu-toggler+label:after {
    top: -20px;
}

.menu-item:nth-child(1) a {
    transform: rotate(0deg);
}

.menu-item:nth-child(2) a {
    transform: rotate(-60deg);
}

.menu-item:nth-child(3) a {
    transform: rotate(-120deg);
}

.menu-item:nth-child(4) a {
    transform: rotate(-180deg);
}

.menu-item:nth-child(5) a {
    transform: rotate(-240deg);
}

.menu-item:nth-child(6) a {
    transform: rotate(-300deg);
}

.menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: 0.5s;
}

.menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(230, 230, 250, 0.7);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
}

.menu-item a:hover {
    background: rgba(255, 255, 255, 0.3);
}

ul img {
    width: 130px;
    height: 130px;
    padding-top: 30px;
}

.createrNames {
    min-width: 400px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    text-align: center;
    color: white;
    line-height: 75px;
    border-bottom: 1px solid black;
}

.createrNames span {
    font-weight: bold;
    font-size: 16px;
    color: rgb(45, 31, 98);
}


.infobar {
    width: 300px;
    height: 80px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    background-color: #5fc0f156;
    box-shadow: 3px 3px 10px #725ff156;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

#game1_information {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 125px;
}

#game2_information {
    position: fixed;
    top: 20%;
    left: 225px;
}

#game3_information {
    position: fixed;
    top: 20%;
    right: 225px;
}

#game4_information {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 125px;
}

#game5_information {
    position: fixed;
    top: 70%;
    right: 225px;
}

#game6_information {
    position: fixed;
    top: 70%;
    left: 225px;
}